td {
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
}

td.active {
  color: black;
  background-color: yellow;
}

.container {
  width: 1500px;
}

.kate {
  display: inline-block;
  vertical-align: center;
  width: 700px;
}

.table-div {
  display: inline-block;
  height: 1000px;
  vertical-align: center;
  width: 750px;
}

.table-div-div {
  padding-top: 500px;
}

.racer-table {
  display: inline-block;
  text-align: center;
  width: 23%;
}

#victory-message {
  float: left;
  padding-bottom: 400px;
  text-align: center;
  vertical-align: top;
  height: 400px;
}

h1{
  display: inline;
}