td {
  border: 1px solid black;
  padding: 50px;
  display: inline-block;
}

#player1_strip{
  background-color: #ABB8CC;
}

#player2_strip {
  background-color: #C9C5BF;
}

#player1_strip .active {
  background-color: red;
}

#player2_strip .active {
  background-color: orange;
}

body {
  background-image: url('calm_ocean.jpeg');
}