td {
  margin: 0px 25px;
  display: inline-block;
}

.racer_table {
  position: absolute;
  bottom: 0px;
}

.score_keeper {
  margin: auto;
}

.instructions {
  margin-left: 865px;
  display: inline-block;
}

body {
  background-image: url('calm_ocean.jpeg');
}

img {
  height: 150px;
  width: 200px;
}