<div class="container">
  <form id="start_game" name="start_game" method="POST" action="/games/new" class="start_form">
    Player 1: <input type="text" id="player1" name="player1">
    Player 2: <input type="text" id="player2" name="player2">
    <input class="start_game" type="submit" value="Play Game!">
  </form>
</div>
